<div class="content-wrapper">
  <div class="img-wrapper">
    <img src="/assets/scalefocus-logo.png">
  </div>
  <div class="item-wrapper">
    <app-sidebar-item icon="person" link="users" text="Users"></app-sidebar-item>
  </div>
  <div class="item-wrapper">
    <app-sidebar-item icon="comment" link="comments" text="Comments"></app-sidebar-item>
  </div>
  <div class="item-wrapper">
    <app-sidebar-item icon="article" link="posts" text="Posts"></app-sidebar-item>
  </div>
  <div class="item-wrapper">
    <app-sidebar-item icon="checklist" link="todos" text="Todos"></app-sidebar-item>
  </div>

</div>
