
.content-wrapper {
  display: flex;
  align-items: flex-end;
  & .mat-icon {
    margin-right: 4px;
  }
}

a {
  text-decoration: unset;
  width: 100%;
  &.active {
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: all .2s ease-in;
  }
}


